* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aliceblue; */
}

.container {
  background-color: rgb(251, 249, 249);
  /* height: 100vh; */
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.banner {
  background-size: cover;
  background-image: url(/images/hero.png);
  background-position: center;
  height: 100vh;
  padding: 10px;
}


.top {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.top img {
  min-height: 20px;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  color: #fff;
  font-size: large;
  display: inline-block;

}

.right {
  text-align: center;
  color: white;

  gap: 5px;
  margin-left: 40px;
}

.right h4 {
  font-size: large;
  margin: 6px;
  color: #000;
  gap: px;
}

.log-in {
  display: flex;

}

.log-in h4 {
  color: white;
  padding: 10px;

}

.log-in button {
  background-color: #23a6f0;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;

}

.center {
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  position: relative;

}

.left ul li {
  gap: 10px;
  color: #fff;
  font-size: large;
  margin: 25px;
  display: inline-block;
}

.left ul li h1 {
  margin-right: 100px;
}

.center,
h3 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  width: 100%;
  font-style: normal;
  text-align: center;
}

.center p {
  margin: 20px;
  font-style: normal;
  font-size: 20px;
}

.btn1 {
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-color: #23a6f0;
  border: none;
}

.btn2 {
  border: none;
  outline-style: outset;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  color: white;

}

.center-btn:hover {
  width: 100%;
}

.center-btn:hover:hover {
  color: black;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  justify-content: center;
  transform: translateY(-50%);
}

.first,
.second,
.third {
  background-color: white;
  padding: 10px;
  height: 200px;
  min-width: 300px;
  text-align: left;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.third {
  background-color: #23a6f0;
  color: white;
}

.third i {
  color: white;
}

.third p {
  color: rgb(190, 14, 14);
}

.fa-user-group {
  color: #23a6f0;
  size: 40px;
  padding-left: 20px;
  padding-top: 10px;
}

.first,
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom,
h1 {
  margin-top: 10px;
  margin-bottom: 10px;

}

.first,
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom p {
  color: rgb(126, 126, 109);
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .bottom {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 360px) {
 
  .top {
    /* display: none; */
    width: fit-content;
  }

  .nav-items .nav-item{
   font-weight: 300;
   font-size: 16px;
  }
 
}


@media screen and (max-width: 600px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .banner {
    width: fit-content;

  }
  .first,
  h1 {
    font-size: small;

  }
  .nav-items,logo{
    text-align: center;
    justify-content: center;

  }
   .nav-items .nav-item{
   font-weight: 300;
   font-size: 16px;
   display: inline-block;

  }
  .center h3{
    font-size: 30px;
  }

  .first,
  .second,
  .third {
    min-width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;

  }



  .bottom {
    text-align: center;
    width: 100%;
    min-width: auto;
    transform: translateY(0px);
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }

  .left ul li {
    gap: 10px;
    color: #fff;
    font-size: 40px;
    margin: 25px;
    display: flex;
    justify-content: center;
  }
}

/* features */
.features {
  padding: 2px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.feature-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  min-height: 250px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  /* background-color: rgb(243, 227, 227); */
}

.main1 img {
  color: #23a6f0;
}

.main1 {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  /* box-shadow: 5px 10px #888888; */
}

.main1 img {
  height: 50px;
  color: aquaword-bottomform;
}

@media screen and (max-width: 770px) {
  .feature-main {
    display: block;
    flex-direction: column;
    /* height: 90vh; */
    width: 100%;
    text-align: center;
    justify-content: center;
    /* margin-top: 100%; */
    /* background-color: rgb(243, 227, 227); */
  }

  .main1 {
    width: 100%;
    height: 80%;
  }

}

/* industry */

.industry-main {
  text-align: center;
  /* margin-top: 8%; */
  /* height: 100 */
  background-color: rgb(234, 237, 237);

}

.industry-main h1 {
  padding-top: 50px;
  color: rgb(6, 6, 31);
  font-weight: 900;
  font-size: 30px;
}

.industry-main p {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  margin-top: 4%;
  min-height: 150px;

}

.card1,
.card2,
.card3 {
  background-color: white;
  padding: 10px;
}

.big {
  margin: 10px;
  width: 40%;
}

.star small {
  color: yellowgreen;
}

@media screen and (max-width: 770px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    flex-direction: column;
  }
}

/* socials */

.social {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.social img {
  width: 5%;
}

.social-imgs {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 770px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }
}

/* socials */

/* subscribe */
.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.subscribe-box {
  width: 100%;
  margin-top: 8%;
  background-image: linear-gradient(to right, rgb(60, 0, 255), rgb(255, 0, 204));
  /* width: 1000px; */
  display: flex;
  max-width: 1000px;

}

.main-box {
  display: flex;
  flex-direction: row;
  /* width: 55rem; */
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.left-box {
  color: white;
  left: 0;
  /* border: 1px solid black; */
}

.main-box input {
  text-align: center;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
}

.right-box-input button {
  color: #fff;
  outline: none;
  transform: translateX(-10px);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #23a6f0;
}

@media screen and (max-width: 770px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }

  .main-box {
    flex-direction: column;
    gap: 20px;
  }
}

/* subscribe */

/* pricing */
.pricing {
  margin-top: 10%;
  width: 100%;
}

.pricing h2 {
  font-size: 40px;
}

.pricing-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 205px;
  padding: 20px;
}

.pricing-cards h2 {
  color: #23a6f0;
  text-align: center;
  font-size: 15px;
  justify-content: center;
}

.one {
  border: 1px solid aqua;
  border-radius: 8px;
  padding: 30px;

}

.one-list {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;

}

.one-list h5 {
  font-size: 40px;
}

.one button {
  /* text-align: center; */
  justify-content: center;
}

.Two {
  background-color: #1d204b;
  border-radius: 5px;
  color: white;
  padding: 30px;
  margin-bottom: 0;
  padding-top: 5%;
  height: 105%;
  transform: translateY(-30px);
}

.circle-icon {
  /* background-color: red; */
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  margin-right: 5px;
}

.circle-icon.checked {
  background-color: green;
  border: 2px solid green;
  color: white;
}

.Three {
  border: 1px solid aqua;
  border-radius: 8px;
  padding: 30px;

}

.one,
li {
  list-style: none;
  text-align: left;


}

.one h1 {
  text-align: center;
}

.pricing-cards button {
  margin-top: 10px;
  padding: 8px;
  background-color: #23a6f0;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.one ul li,
.Two ul li,
.Three ul li {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 10px 0px;
}

.Two h1 {
  color: white;
}

@media screen and (max-width: 770px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }

  .pricing-cards {
    flex-direction: column;
    grid-template-columns: 250px 250px;
    gap: 20px;
    place-content: center;
  }

  .Two {
    transform: translateY(0px);
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .pricing-cards {
    flex-direction: column;
    grid-template-columns: 98%;
  }

}

/* pricing */

/* world */

.world {
  justify-content: C;
  background-color: rgb(33, 15, 62);
  text-align: left;
  padding-top: 5%;
  margin-top: 8%;
  min-height: 850px;
  color: white;
  position: relative;

}

.word-top {
  display: flex;
  justify-content: center;
  padding: 10px;

}

.word-top h1 {
  color: white;
}

.world h1 p {
  align-items: center;
}

.word-bottom {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 20px;
  min-height: 50px;
  transform: translateY(-50%);
}

.word-bottom img {
  width: 200px;
}

.word-bottomform {
  background-color: #fff;
  /* width: 420px; */
  padding: 20px;
  min-height: 200px;
}

.word-bottomform h1 {
  color: black;
}

.word-bottomform input {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

}

.input-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;
  gap: 10px;
}

.input-container .input {
  width: 100%;
  border: none;
  background-color: rgb(235, 236, 236);
  outline: none;
}

.input-container label {
  margin-top: 20px;
  font-size: 16px;
  color: #0e1a2d;
}

.word-bottomform button {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  background-color: #23a6f0;
  border: none;
  outline: none;
  justify-content: left;
  /* margin-right: 50px; */
}

@media screen and (max-width: 770px) {
  .banner-text h2 {
    font-size: 54px;
  }

  .world {
    min-height: 100%;
  }

  .word-bottom {
    transform: translateY(0px);
  }

  .word-bottomform {
    width: 100%;
  }

  .banner-btn {
    flex-direction: column;
    gap: 10px;
  }

  .word-top {
    flex-direction: column;
  }

  .word-bottom img {
    display: none;
  }

  .word-bottom-last {
    flex-direction: column;
  }

  .bottom-last-left p {
    text-align: center;
    justify-items: center;
  }

  .footer-bottom {
    gap: 2px;
  }
}

/* world */
.world-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact us */
.word-bottomform {
  background-color: #fff;
}

.word-bottom-last {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  text-align: center;
}

.word-bottom-last p {
  text-align: left;
}

.bottom-last-left p {
  color: rgb(120, 115, 107);
}

.bottom-last-right button {
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 250px;
  background-color: #23a6f0;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Contact us */

/* footer */
.footer-top {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 40px;
}

.footer-top p {
  text-align: left;
  margin: 10px;
}

.class-5 i {
  color: #23a6f0;
}

.footer-bottom {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: rgb(249, 250, 250);
  flex-wrap: wrap;
  /* gap: 250px; */
}

.footer-bottom p {
  text-align: left;
  padding: 10px;
}

.footer-bottom-right {
  padding: 10px;
  color: #23a6f0;
}

/* footer */